#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f5efe6;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease;
  /* 淡出效果 */
  opacity: 1;
}

#loading-screen.hidden {
  opacity: 0;
  pointer-events: none;
  /* 避免遮擋 */
}

.loader {
  width: fit-content;
  clip-path: inset(0 15ch 0 0);
  animation: l4 2s steps(50) infinite;
}

.loader:before {
  content: "載入中...";
  font-size: 24px;
  color: var(--charcoal);
  line-height: 1.3;
}

@keyframes l4 {
  0% {
    clip-path: inset(0 15ch 0 0);
  }

  50% {
    clip-path: inset(0 0 0 0);
  }

  100% {
    clip-path: inset(0 0 0 0);
  }
}