.page { 
    position: static;
    margin-bottom: 0;
    transform: translateY(0); /* 或移除此屬性 */
    width: 100dvw;
    height: 100dvh;
    z-index: 1;
    background-color: rgb(128, 120, 120);
}

.page-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.page-word-1,
.page-word-2 {
  font-size: 1.2em;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

.page-word-1 { animation-delay: 0.2s; }
.page-word-2 { animation-delay: 1.2s; }

@keyframes typing {
  from { width: 0; }
  to { width: 4ch; }
}

@keyframes fadeIn {
  to { opacity: 1; }
}




